body{
    background-color: #043349;color: rgba(14, 233, 178, 0.466);
    font-family: Georgia, 'Times New Roman', Times, serif
}

.HeaderResume{
    text-align: center;
    background-color: rgb(118, 42, 48);
    color:rgb(84, 233, 96);
    border:3px solid yellow;
}
.HeaderResume p{
   line-height: 1%;
}
.image img{
    display: block;
    margin-top:2%;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 200px;
    border: 3px solid yellowgreen;
    
}
.image{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    text-align: center;
    border:3px solid yellowgreen;
}
.resumebody h3{
    text-align: center;
    background-color: rgb(118, 42, 48);
    color:rgb(84, 233, 96);
    border:3px solid yellow;
}

.resumebody p{
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    color: aliceblue;
    text-decoration: underline;
}

.HeaderResume a{
    color:#1383ebe5;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 80%;
}



    